- hosts: Jenkins
  remote_user: ec2-user
  become: yes

  vars:
    AQSStackName: "{{ lookup('env', 'AQS_STACK_NAME') }}"
    AQSGeneratorsStackName: "{{ lookup('env', 'AQS_GENERATORS_STACK_NAME') }}"
    AQSGeneratorsKeyName: "{{ lookup('env', 'AQS_GENERATORS_KEY_NAME') }}"
    AQSGeneratorsKeyS3Bucket: "{{ lookup('env', 'AQS_GENERATORS_KEY_S3_BUCKET') }}"
    AQSGeneratorsKeyS3Path: "{{ lookup('env', 'AQS_GENERATORS_KEY_S3_PATH') }}"
    AQSS3BucketPrefix: "{{ lookup('env', 'AQS_S3_BUCKET_PREFIX') }}"
    AwsAccessKeyId: "{{ lookup('env', 'AQS_AWS_ACCESS_KEY_ID') }}"
    AwsSecretAccessKey: "{{ lookup('env', 'AQS_AWS_SECRET_ACCESS_KEY') }}"
    AwsDefaultRegion: "{{ lookup('env', 'AQS_AWS_DEFAULT_REGION') }}"
    DockerUserName: "{{ lookup('env', 'AQS_DOCKER_USER') }}"
    DockerPassword: "{{ lookup('env', 'AQS_DOCKER_PASSWORD') }}"
    AQSGeneratorsDockerImageTagName: "{{ lookup('env', 'AQS_GENERATORS_DOCKER_IMAGE_TAG_NAME') }}"

  tasks:
    - name: Update Packages
      yum:
        name: '*'
        state: latest

    - name: Append environment variables to profile
      shell: |
        echo "export AQS_STACK_NAME={{ AQSStackName }}" >> /etc/profile
        echo "export AQS_GENERATORS_STACK_NAME={{ AQSGeneratorsStackName }}" >> /etc/profile
        echo "export AQS_GENERATORS_KEY_NAME={{ AQSGeneratorsKeyName }}" >> /etc/profile
        echo "export AQS_GENERATORS_KEY_S3_BUCKET={{ AQSGeneratorsKeyS3Bucket }}" >> /etc/profile
        echo "export AQS_GENERATORS_KEY_S3_PATH={{ AQSGeneratorsKeyS3Path }}" >> /etc/profile
        echo "export AQS_GENERATORS_DOCKER_IMAGE_TAG_NAME={{ AQSGeneratorsDockerImageTagName }}" >> /etc/profile
        echo "export AQS_S3_BUCKET_PREFIX={{ AQSS3BucketPrefix }}" >> /etc/profile
        echo "export AWS_ACCESS_KEY_ID={{ AwsAccessKeyId }}" >> /etc/profile
        echo "export AWS_SECRET_ACCESS_KEY={{ AwsSecretAccessKey }}" >> /etc/profile
        echo "export AWS_DEFAULT_REGION={{ AwsDefaultRegion }}" >> /etc/profile
        echo "export DOCKER_USER={{ DockerUserName }}" >> /etc/profile
        echo "export DOCKER_PASSWORD={{ DockerPassword }}" >> /etc/profile
        echo "export ANSIBLE_HOST_KEY_CHECKING=false" >> /etc/profile
        echo "export ANSIBLE_SSH_RETRIES=10" >> /etc/profile

    - name: Download Jenkins
      get_url:
        url: https://pkg.jenkins.io/redhat-stable/jenkins.repo
        dest: /etc/yum.repos.d/jenkins.repo
    
    - name: Import a key file from Jenkins-CI
      rpm_key:
        state: present
        key: https://pkg.jenkins.io/redhat-stable/jenkins.io.key

    - name: Install Jenkins and Git
      yum:
        name:
          - jenkins
          - java-1.8.0-openjdk-devel
          - git

    - name: Start Jenkins as a Service
      systemd:
        name: jenkins
        state: started
        enabled: yes
        daemon_reload: yes

    - name: Sleep for 30 seconds
      wait_for: timeout=30

    - name: Get Jenkins Password
      shell: cat /var/lib/jenkins/secrets/initialAdminPassword
      changed_when: no
      register: password

    - name: Print Jenkins password
      debug:
        var: password.stdout

    - name: Read environment variables from Profile into Jenkins
      shell: |
        echo "source /etc/profile" >> /etc/sysconfig/jenkins
        /etc/init.d/jenkins restart

    - name: Install python3
      yum:
        name: python3

    - name: Install python packages
      pip: 
        name:
          - taskcat
          - boto3
          - pycountry
        executable: pip3

    - name: Install ansible
      shell: sudo amazon-linux-extras install ansible2 -y

    - name: Install docker
      shell: |
        amazon-linux-extras install docker -y
        usermod -a -G docker ec2-user

    - name: Start Docker as a service
      systemd:
        name: docker
        state: started
        enabled: yes
        daemon_reload: yes

    - name: Change docker.sock permissions
      file:
        path: /var/run/docker.sock
        mode: '666'